<h1>Total spent per Tag:</h1> 

<table>
  <tr>
    <th>Tag</th>
    <th></th>
    <th>Total</th>
  </tr>
  <% for tag in @tags %>

    <tr>
      <td><%= tag.name %></td>
      <td></td>
      <td><%= Transaction.total_spent_by_tag(tag.id) %></td>
    </tr>


  <% end %>
</table>  