<!-- <div class="yield"> -->
<h1 class="welcome">Welcome to Budgetiny!</h1>
<p class="description">Budgetiny allows you to take control over your budget, through very simple yet powerful tools. You can add expenses to your list, edit and delete them at your will, being able to simultaneously see your updated balance.
Take also advantage of the thoughts for the day, a way to motivate yourself in your quest for your financial stability!</p> 
<!-- </div> -->

