<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <title>Budgetiny</title>
  <link rel="icon" href="/images/favicon.png"/>
</head>
 
<body>
  <div class="header">
    <div class="container">
     <div class="logo">
       <a href="/">
       <img src="/images/logo.png" alt="budgetiny" style="width:200px;height:60px;border:0;"></a></div>
         <div class="nav">
           <ul>
             <li class="list"><a href="/transactions">View Transactions</a></li>
             <li class="list"><a href="/transactions/new">Add New Transaction</a> </li>
             <li class="list"><a href="/transactions/total">Your Totals</a></li>
             <li class="list"><a href="/about_us">About Us</a></li>
             <li class="list"><a href="/thoughts">Thought for the day</a></li>
             </ul>
           </div>
         </div>
       </div>
       <div class="yield"><%= yield %></div>
       
     <div class="footer">Copyright © 2017 Cohort 13. All Rights Reserved.</div>
   </body>
</html>  