<h1>Total spent per Merchant:</h1> 

<table>
  <tr>
    <th>Merchant</th>
    
    <th>Total</th>
  </tr>
  <% for merchant in @merchants %>

    <tr>
      <td><%= merchant.name %></td>
      
      <td><%= Transaction.total_spent_by_merchant(merchant.id) %></td>
    </tr>


  <% end %>
</table>  